!!!
%html
  %head
    %title= blog_title
    = css_include_tag :application
  %body
    #container
      #header
        %h1
          %span= link_to blog_title, '/'
        %h2= blog_subtitle
      #page
        #content
          = catch_content :for_layout
        #footer
          %p= link_to blog_title, '/'
          %ul
            %li= "Powered by #{link_to('Gutenberg', 'http://github.com/kschrader/gutenberg/')}/styled with #{link_to('scribbish', 'http://quotedprintable.com/pages/scribbish')}"
              