!!!
%html
  %head
    %title Gutenberg
    = css_include_tag :application
  %body
    #container
      #header
        %h1
          %span= blog_title
        %h2= blog_subtitle
      #page
        #content
          = catch_content :for_layout
        #sidebar
          Some sidebar stuff
        #footer
          %p Blog link
          %ul
            %li= "Powered by #{link_to('Gutenberg', 'http://github.com/kschrader/gutenberg/')}/styled with #{link_to('scribbish', 'http://quotedprintable.com/pages/scribbish')}"
              